body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background: #f5f7fa;
    color: #222;
}

/* Welcome Text */
#welcome {
    text-align: center;
    font-size: 32px;
    padding: 20px 0 5px 0;
    font-weight: 600;
    color: #005bbb;
}

/* Subtitle */
.subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #444;
}

/* Main Grid */
#ca {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    padding-bottom: 40px;
}

/* Notes Card */
.ba {
    background: rgb(23, 115, 176);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
}

.ba:hover:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

/* Image */
.p {
   
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    background-size: cover;
    
}

/* Title */
#text {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #0b0347;
    letter-spacing: 5px;
    word-spacing: 4px;
}

a {
    text-decoration: none;
}


